<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47147490249-5kncu359h8nlgruek1728htr42f926rg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47147490249-5kncu359h8nlgruek1728htr42f926rg</string>
	<key>API_KEY</key>
	<string>AIzaSyCaB-3rc_Qku36kiimASW7IsvlcyaUyH_0</string>
	<key>GCM_SENDER_ID</key>
	<string>47147490249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.podnoms.otherway.radio</string>
	<key>PROJECT_ID</key>
	<string>radio-otherway</string>
	<key>STORAGE_BUCKET</key>
	<string>radio-otherway.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47147490249:ios:23f8a94e0c00bc5426e618</string>
</dict>
</plist>